* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
html,
.App {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

body {
  background: #5eb2cc;
  color: #ffffff;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-style: italic;
  font-size: 2.6em;
}
h2 {
  margin: 0;
  font-weight: 700;
  font-style: italic;
  font-size: 2.1em;
}
h3 {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
h4 {
  margin: 0;
  font-weight: 300;
  font-style: italic;
  font-size: 1.3em;
}

.btn-container .btn {
  margin: 20px auto;
  cursor: not-allowed;
  color: #5eb2cc;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.651);
  padding: 7px 40px;
  border-radius: 100px;
}
.btn-container .btn-active {
  cursor: pointer;
  background: #ffffff;
}
.btn-container .btn-active:hover {
  box-shadow: 0 0 2px 2px #ffffffb3;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 20px auto;
  flex-direction: column;
}
.player {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player .weapon {
  width: 250px;
  padding: 0 50px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.player .weapon img {
  cursor: pointer;
}
.player .weapon:hover {
  transform: scale(1.5);
}
.scaled {
  transform: scale(1.5);
}

.PlayerOne .p1-army,
.PlayerTwo .p2-army {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES */ /* MEDIA QUERIES */


@media screen and (max-width: 768px) {
  .player .weapon {
    width: 220px;
    margin: 15px;
  }
  .PlayerOne .p1-army,
  .PlayerTwo .p2-army {
    display: flex;
    flex-flow: column;
  }
  h2 {
    font-size: 1.6em;
  }
}
