body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px
}
#main{
  height: 100%;
  width: 100%
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (max-width: 992px) {
  body{
    font-size: 16px
  }
}
@media screen and (max-width: 768px) {
  body{
    font-size: 14px
  }
}
@media screen and (max-width: 600px){
  body{
    font-size: 14px
  }
}
@media screen and (max-width: 576px) {
  #main{
    height: auto;
  }
}