.FightView {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.FightView .container {
  width: 100%;
}
.FightView .Header {
  margin-top: 0;
}
.FightView .title {
  padding: 20px;
  width: max-content;
  margin: 0 auto;
}
.FightView .weapon {
  width: 130px;
  display: inline-block;
}
.FightView .players-container {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
  margin: 0 auto;
  padding: 50px 30px;
  flex-flow: wrap;
  width: 100%;
  max-width: 1100px;
}
.FightView .players-container .p1-army {
  padding-right: 30px;
}
.FightView .players-container .p2-army {
  padding-left: 30px;
}
.FightView .vs {
  padding: 0 40px;
}
.FightView .vs h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 4em;
  text-align: center;
}
.FightView .vs h3 {
  line-height: 10px;
}
.FightView .p1-name,
.FightView .p2-name {
  min-width: 200px;
  text-align: center;
  width: 33%;
  margin: 50px 0;
}
.FightView .players-container .btn-container {
  margin: 0;
  width: 33%;
}
.FightView .life-container {
  display: flex;
  justify-content: space-around;
}
.FightView .players-container .life-p1,
.FightView .players-container .life-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  width: 50%;
}
.FightView .players-container .life-p1 {
  justify-content: flex-end;
  padding-right: 60px;
}
.FightView .players-container .life-p2 {
  justify-content: flex-start;
  padding-left: 20px;
}
.FightView .players-container .life-bar {
  border: 1px solid #fff;
  border-radius: 100px;
  margin-left: 20px;
  width: 200px;
  height: 13px;
  vertical-align: middle;
}
.FightView .players-container .life-bar .bar {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: all 1s ease-in-out;
}
.FightView .wins {
  font-size: 2.6em !important;
  line-height: 50px;
}
.FightView .round-wins {
  line-height: 60px !important;
  text-align: center;
}
